
@import '../scss/mixin';

$hubble: (
  name: hubble,
  duration: 100s,
  distance: 50.5%,
  images: (
    url(images/02.jpg),
    url(images/03.jpg),
    url(images/04.jpg)
  )
);

.bg-hubble {
  @include kenburns($hubble);
}

@include kenburns-keyframes($hubble);

