<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grupos de Conexión</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
    
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css" media="screen"/>
    <link rel="stylesheet" href="assets/css/demo.css" media="screen"/>
    <script src="assets/js/jquery-2.1.3.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
</head>
<style type="text/css">
body {
  background: url('assets/images/fondo_conexion.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
</style>
<body ng-app="grupos" ng-controller="conexion">
      <!-- main page -->
      <div class="container" >
          <div class="overflow-hidden">
              <div class="flex flex-center white">
                <div class="center padding10">
                  <section class="text-left">
                <div class="slogan">
                  <div class="font-weight main-family row">
                    <div class="col witheColor"> <p class="size05">GRUPOS DE</p><p class="highTide size17">Conexion</p></div>                    
                  </div>
                  <div class="font-weight main-family row">
                    <div class="col witheColor">
                        <p class="witheColor size02">Hay un grupo de conexión cerca esperando por ti. </p>
                    </div>
                  </div>
                  <div class="font-weight main-family row flex flex-center">
                      <div class="col witheColor center">
                             <div class="row">
                                <div class="col-sm-4"></div>
                               <div class="col-sm-4">
                                  <div class="form-group">                                
                                      <input ng-model="busquedaGrupo" type="text" class="form-control size02" placeholder="Busca por lider, ciudad ...">                                
                                    </div>
                               </div>
                               <div class="col-sm-4"></div>
                             </div>
                             <div class="row">
                                <div class="col-sm-12">

                                </div>
                             </div>
                      </div>
                  </div>
                </div>
              </section>
                </div>
              </div>
          </div>
      </div>

      <!-- buscador -->
      <section id="searchs">
      <div class="container">
        <div class="row padding10">
          <div class="col-lg-12 whiteBackground">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Ciudad</th>
                  <th scope="col">Lider</th>
                  <th scope="col">Dirección</th>
                  <th scope="col">Dia</th>
                  <th scope="col">Hora</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="grupo in grupos  | filter:busquedaGrupo">                  
                  <th>{{$index + 1}}</th>
                  <td>{{grupo[0]}}</td>
                  <td>{{grupo[1]}}</td>
                  <td>{{grupo[2]}}</td>
                  <td>{{grupo[3]}}</td>
                  <td>{{grupo[4]}}</td>
                </tr>
              </tbody>
            </table>
            
          </div>          
        </div>
      </div>
    </section>
</body>
<script>
var app = angular.module("grupos", []); 
app.controller("conexion", function($scope) {
    $scope.grupos = [["Arequipa","CINTHYA QUISPE","COOP. VICTOR ANDRES BELAUNDE F-5 YANAHUARA","JUEVES","5:00 p. m.",],
["Arequipa","LUIS CACERES & YESSY GUILLEN","AV. VENEZUELA # 306 2DO PISO – CERCADO","JUEVES","7:00 p. m.",],
["Arequipa","ROXANA CHAVEZ MELGARJE","REPUBLICA DE CHILE #216 ALTO SAN MARTIN – MNO MELGAR","JUEVES","6:30 p. m.",],
["Arequipa","ROLANDO VARGAS","CALLE ITALIA #911 – B HUNTER","JUEVES","8:00 p. m.",],
["Arequipa","CRYSTHIAN SERRUTO OCHOA","COOP. DANIEL ALCIDES CARRION G-20","JUEVES","7:00 p. m.",],
["Arequipa","ROXANA CASTILLO DE LA FLOR","AV. VENEZUELA # 606 – CERCADO","JUEVES","6:30 p. m.",]
["Puno","CORNEJO ARAPA GABIN","JR AREQUIPA 13","JUEVE","5:00 p. m."],
["Puno","PAREDES VILLAGRA CARL","JR AREQUIPA 13","LUNE","7:00 p. m."],
["Puno","PANCCA QUISPE HILD","AV. FLORAL 45","JUEVE","7:00 p. m."],
["Puno","PACO FLORES JOE","JR LOS INCAS 344 ","LUNE","8:30 p. m."],
["Puno","HILASACA PAUCARA OLG","JR LOS INCAS 52","JUEVE","8:20 p. m."],
["Puno","AGUILAR CHUQUIMIA WILLY Y ESPOS","URB MANTO 2000 MZ 5 LT 1","VIERNE","7:00 p. m."],
["Puno","QUIZA VILCA PS ROLAND","JR CAHUIDE 226 – 3CER PIS","JUEVE","7:30 p. m."],
["Puno","TICONA MAQUERA YANET","JR ZEPITA 12","JUEVE","7:00 p. m."],
["Puno","RODRIGUEZ RAMOS YOVANA SAND","JR ANDAHUAYLAS 18","JUEVE","7:00 p. m."],
["Puno","AYAMAMANI CONDORI ANDRE","URB CHANU CHANU 2 ETAPA MZ B-1 LOTE ","JUEVE","7:00 p. m."],
["Puno","TICONA MAQUERA DIAN","JR ZEPITA 12","JUEVE","5:00 p. m."],
["Puno","FLORES FLORES WAGNE","JR ECHENIQUE 354 3CER PIS","JUEVE","7:30 p. m."],
["Puno","CHURA CHUQUIÑA EDUARD","JR BENJAMIN PACHECO VARGAS 15","JUEVE","7:00 p. m."],
["Puno","VALDEZ FLORES ELEAZA","CENTRO COMERCIAL PLAZA STAND 12","JUEVE","8:00 p. m."]


["Lima","CARLOS AIQUIPA LUPU","URB EL DORAL DE TORRE BLANCA MZ 43 LOT 33 - CARABAYLLO","JUEVES","8:00 p. m."],
["Lima","FIORELLA MAZA","Jr. Mochicas 470 La Victoria","JUEVES","8:00 p. m."],


["Piura","JUANA FARFÁN","AV .SAN MARTÍN 1200","JUEVES","6:30 p. m."],
["Piura","JUANA ROSA MAZA","AV.SAN MARTÍN 1320","JUEVES","5:00 p. m."],



["Tacna","Luis y Graciela ","EI olivar mz 15 lote 20 CPM Leguía","JUEVES","7:00 p. m."],
["Tacna","Claudia Aguirre ","Calle 28 de julio 310","JUEVES","7:00 p. m."],
["Tacna","Dina cohaila","Pasaje Santo Domingo 1474-B Centro Poblado La Esperanza. Alto de la Alianza","JUEVES","7:00 p.m."],
["Tacna","Cintia tuesta","Asoc. Gregorio albarracin mz A lote ","JUEVES","7:00 p. m."],
["Tacna","Rosa Changano","Pasaje México 380","JUEVES","7:00 p. m."],
["Tacna","Psa. Merida Serruto","Cecoavi Parcela 1","JUEVES","7:00 p. m."],
["Tacna","Nancy Delgado","Pago Silpay Cono Sur Mz B Lote 12","JUEVES","6:00 p. m."],
];
});
</script>
</html>